body {
  font-family: Helvetica, sans-serif;
  background-color: #35313d;
  margin: 50px;
}

h1 {
  color: #8a76ad;
}

p {
  color: #a69db4;
}
.astros {
  width: 300px;
  padding: 50px;
  border-radius: 10px;
  background: #35313d;
  box-shadow: 9px 9px 18px #1c1a20;
}
